@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #fff;
  background: radial-gradient(circle, #1f3756, #141539);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  margin: 20px 30px;
  padding: 20px;
  border: 2px solid #606e85;
  border-radius: 15px;
}

.navbar img {
  width: 100%;
  height: 70px;
}

.navbar .score {
  background-color: #fff;
  color: #2a46c0;
  width: 90px;
  height: 70px;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}

.navbar .score-text {
  color: #3b4363;
  font-size: 40px;
  font-weight: bold;
}

.game-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.game-layout .triangle {
  position: relative;
  top: 100px;
  left: 170px;
}

.game-layout .gamediv {
  position: relative;
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 18px solid;
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
}

.game-layout .gamediv img {
  position: relative;
  top: 65px;
}

.game-layout .gamediv--rock-color {
  border-color: #dc2e4e;
}

.game-layout .gamediv--rock-color-winner {
  border-color: #dc2e4e;
  -webkit-box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.04), 0px 0px 0px 100px rgba(255, 255, 255, 0.03), 0px 0px 0px 150px rgba(255, 255, 255, 0.02);
          box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.04), 0px 0px 0px 100px rgba(255, 255, 255, 0.03), 0px 0px 0px 150px rgba(255, 255, 255, 0.02);
}

.game-layout .gamediv--paper-color {
  border-color: #4865f4;
}

.game-layout .gamediv--paper-color-winner {
  border-color: #4865f4;
  -webkit-box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.04), 0px 0px 0px 100px rgba(255, 255, 255, 0.03), 0px 0px 0px 150px rgba(255, 255, 255, 0.02);
          box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.04), 0px 0px 0px 100px rgba(255, 255, 255, 0.03), 0px 0px 0px 150px rgba(255, 255, 255, 0.02);
}

.game-layout .gamediv--scissors-color {
  border-color: #ec9e0e;
}

.game-layout .gamediv--scissors-color-winner {
  border-color: #ec9e0e;
  -webkit-box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.04), 0px 0px 0px 100px rgba(255, 255, 255, 0.03), 0px 0px 0px 150px rgba(255, 255, 255, 0.02);
          box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.04), 0px 0px 0px 100px rgba(255, 255, 255, 0.03), 0px 0px 0px 150px rgba(255, 255, 255, 0.02);
}

.game-layout .gamediv--rock {
  border-color: #dc2e4e;
  position: absolute;
  bottom: -170px;
  left: 230px;
  -webkit-box-shadow: inset 0px 5px 6px gray, 0px 8px #a11b34;
          box-shadow: inset 0px 5px 6px gray, 0px 8px #a11b34;
}

.game-layout .gamediv--rock:hover {
  -webkit-transform: translateX(10px) scale(1.1);
          transform: translateX(10px) scale(1.1);
}

.game-layout .gamediv--paper {
  border-color: #4865f4;
  position: absolute;
  top: -10px;
  left: 55px;
  -webkit-box-shadow: inset 0px 5px 6px gray, 0px 8px #0d31e3;
          box-shadow: inset 0px 5px 6px gray, 0px 8px #0d31e3;
}

.game-layout .gamediv--paper:hover {
  -webkit-transform: translateX(10px) scale(1.1);
          transform: translateX(10px) scale(1.1);
}

.game-layout .gamediv--scissors {
  border-color: #ec9e0e;
  top: -30px;
  right: 55px;
  -webkit-box-shadow: inset 0px 5px 6px gray, 0px 8px #a46e0a;
          box-shadow: inset 0px 5px 6px gray, 0px 8px #a46e0a;
}

.game-layout .gamediv--scissors:hover {
  -webkit-transform: translateX(10px) scale(1.1);
          transform: translateX(10px) scale(1.1);
}

.result {
  margin-top: 90px;
  margin-right: 20px;
  margin-left: 20px;
  width: auto;
  height: auto;
}

.result-text {
  font-size: 35px;
}

.result .replay {
  margin-top: -30px;
  width: 150px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.result .replay-rock {
  color: #dc2e4e;
}

.result .replay-paper {
  color: #4865f4;
}

.result .replay-scissors {
  color: #ec9e0e;
}

.counter-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 18px solid none;
  font-size: 3rem;
  color: #fff;
}

.footer {
  width: 100vh;
}

.footer .attribution {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 1rem;
}

.footer .attribution a {
  color: white;
}

.footer .attribution #name {
  text-decoration: none;
}

.footer button {
  position: absolute;
  bottom: 1rem;
  padding: 7px 25px;
  right: 2rem;
  border-radius: 0.4rem;
  border: 3px solid #606e85;
  color: #97a2b4;
  background: none;
  font-weight: 600;
  letter-spacing: 2px;
}

.footer button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #3b4363;
  cursor: pointer;
}

.modalContainer {
  position: relative;
  top: -320px;
  left: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  height: 400px;
  border-radius: 12px;
  background-color: #fdfbfb;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modalContainer .header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -300px;
}

.modalContainer .header-box .modalRule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  width: auto;
  margin: 10px 20px;
  padding: 5px;
  color: black;
}

.modalContainer .header-box .closeBtn {
  font-size: 25px;
  margin: 10px 20px;
  padding: 10px;
  width: auto;
  cursor: pointer;
}

.modalContainer .modalBody {
  position: absolute;
  top: 100px;
  left: 12%;
}

@media (max-width: 375px) {
  .navbar {
    position: relative;
    left: 26.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 300px;
    margin: 30px 10px;
    padding: 5px;
    border: 2px solid #606e85;
    border-radius: 15px;
  }
  .navbar img {
    position: relative;
    left: -60%;
    width: 100%;
    height: 50px;
  }
  .navbar .score {
    position: relative;
    right: -18%;
    background-color: #fff;
    color: #2a46c0;
    width: 70px;
    height: 50px;
    margin: 5px 5px;
    padding: 10px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
  }
  .game-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 80px;
  }
  .game-layout .triangle {
    position: relative;
    top: 60px;
    left: 200px;
    width: auto;
    height: auto;
  }
  .game-layout .triangle img {
    width: 200px;
    height: 200px;
  }
  .game-layout .gamediv {
    position: relative;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 18px solid;
    -webkit-transition: -webkit-transform 0.15s;
    transition: -webkit-transform 0.15s;
    transition: transform 0.15s;
    transition: transform 0.15s, -webkit-transform 0.15s;
  }
  .game-layout .gamediv img {
    position: relative;
    top: 20px;
  }
  .game-layout .gamediv--rock-color {
    border-color: #dc2e4e;
  }
  .game-layout .gamediv--rock-color-winner {
    border-color: #dc2e4e;
    -webkit-box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.04), 0px 0px 0px 100px rgba(255, 255, 255, 0.03), 0px 0px 0px 150px rgba(255, 255, 255, 0.02);
            box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.04), 0px 0px 0px 100px rgba(255, 255, 255, 0.03), 0px 0px 0px 150px rgba(255, 255, 255, 0.02);
  }
  .game-layout .gamediv--paper-color {
    border-color: #4865f4;
  }
  .game-layout .gamediv--paper-color-winner {
    border-color: #4865f4;
    -webkit-box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.04), 0px 0px 0px 100px rgba(255, 255, 255, 0.03), 0px 0px 0px 150px rgba(255, 255, 255, 0.02);
            box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.04), 0px 0px 0px 100px rgba(255, 255, 255, 0.03), 0px 0px 0px 150px rgba(255, 255, 255, 0.02);
  }
  .game-layout .gamediv--scissors-color {
    border-color: #ec9e0e;
  }
  .game-layout .gamediv--scissors-color-winner {
    border-color: #ec9e0e;
    -webkit-box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.04), 0px 0px 0px 100px rgba(255, 255, 255, 0.03), 0px 0px 0px 150px rgba(255, 255, 255, 0.02);
            box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.04), 0px 0px 0px 100px rgba(255, 255, 255, 0.03), 0px 0px 0px 150px rgba(255, 255, 255, 0.02);
  }
  .game-layout .gamediv--rock {
    border-color: #dc2e4e;
    position: absolute;
    bottom: -80px;
    left: 270px;
    -webkit-box-shadow: inset 0px 5px 6px gray, 0px 8px #a11b34;
            box-shadow: inset 0px 5px 6px gray, 0px 8px #a11b34;
  }
  .game-layout .gamediv--rock:hover {
    -webkit-transform: translateX(10px) scale(1.1);
            transform: translateX(10px) scale(1.1);
  }
  .game-layout .gamediv--paper {
    border-color: #4865f4;
    position: absolute;
    top: -15px;
    left: 190px;
    -webkit-box-shadow: inset 0px 5px 6px gray, 0px 8px #0d31e3;
            box-shadow: inset 0px 5px 6px gray, 0px 8px #0d31e3;
  }
  .game-layout .gamediv--paper:hover {
    -webkit-transform: translateX(10px) scale(1.1);
            transform: translateX(10px) scale(1.1);
  }
  .game-layout .gamediv--scissors {
    border-color: #ec9e0e;
    top: -50px;
    right: 150px;
    -webkit-box-shadow: inset 0px 5px 6px gray, 0px 8px #a46e0a;
            box-shadow: inset 0px 5px 6px gray, 0px 8px #a46e0a;
  }
  .game-layout .gamediv--scissors:hover {
    -webkit-transform: translateX(10px) scale(1.1);
            transform: translateX(10px) scale(1.1);
  }
}
/*# sourceMappingURL=styles.css.map */